.cardContiner {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-shadow: -2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    border: solid;
    border-width: 1px;
    padding-inline: 30px;
    border-radius: 10px;
    margin: 20px;
    /* width: 100%; */
}

.imageNFT {
    background-color: #000;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 2px;
}

.imageNFT img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.titleNFT {
    margin: 15px;
    font-size: 20px;
    margin-bottom: 0px;
}

.buttonBuy {
    width: 80%;
    background-color: #3073B3;
    border: solid;
    border-width: 0ch;
    padding: 7px;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    /* margin-top: 20px; */
}

/* .buttonBuy:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
} */
.buttonBuy span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonBuy span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonBuy:hover span {
    padding-right: 15px;
}

.buttonBuy:hover span:after {
    opacity: 1;
    right: 0;
}

.divTitle {
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    width: 100%;
}

.NftName {
    font-size: 18px;
    color: #D7E7E4;
    width: 60%;
}

.divTitleback {
    background-color: rgb(255, 255, 255);
    width: 70%;
    padding-inline: 5px;
    /* margin-left: 5px; */
    border-radius: 5px;
    align-items: center;
    display: flex;
    border: solid;
    border-width: 0ch;
    font-size: 20px;
}

.divTitleback h1 {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}

.titleForm {
    font-size: 20px;
    margin: 0%;
    text-align: center;
    color: #000;
    margin-bottom: 20px;
    font-weight: 400;
}

.priceNFT {
    margin: 0%;
    font-size: 18px;
    color: rgb(57, 55, 55);
}

.priceNFT span {
    font-size: 15px;
}

.continerSystem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */

}

.divContinerSystem {
    display: flex;
    width: 80%;
    justify-content: space-between;
    /* background-color: red; */
}

.divSystem {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}

.divSystem h1 {
    font-size: 18px;
    margin-bottom: 15px;
    width: 20px;
    /* background-color: red; */
    text-align: center;
    margin: 0%;
}

.payment {}

.textBalance {
    width: 63%;
    margin: 0%;
    font-size: 11px;
    color: rgb(88, 88, 88);
    /* margin-right: 40px; */
}

.textMuch {
    font-size: 16px;
    margin: 0%;
    color: #000;
    font-weight: 500;
    margin-bottom: 5px;
}